<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Usuario/IdeaProjects/Pruebas">
        <classes>
            <class name="Applications.ReleaseManager.RM_ChangeContainer">
                <methods>
                    <include name="crearChangeContainerArbol"/>
                    <include name="activarChangeContainer"/>
                </methods>
            </class>

            <class name = "Applications.ConfigurationManager.CM_Counter">
                <methods>
                    <include name="crearCounter"></include>
                </methods>
            </class>

            <class name = "Applications.ConfigurationManager.CM_INS">
                <methods>
                    <include name="crearINS"></include>
                </methods>
            </class>

            <class name="Applications.ConfigurationManager.CM_SLA">
                <methods>
                    <include name="crear_SLA"/>
                </methods>
            </class>
            <class name="Applications.ConfigurationManager.CM_Performer_Profile">
                <methods>
                    <include name="crearPerformerProfile"/>
                </methods>
            </class>
            <class name="Applications.ConfigurationManager.CM_Notification_Profile">
                <methods>
                    <include name="crearNotification"/>
                </methods>
            </class>

            <class name="Applications.ConfigurationManager.CM_Risk_Profile">
                <methods>
                    <include name="crearRiskProfile"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>