<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Test-2">
        <classes>
            <class name="Applications.ReleaseManager.RM_ChangeContainer">
                <methods>
                    <include name="releaseChangeContainer"/>
                </methods>
            </class>
            <class name="Applications.CollaborationWorkspace.PrimerProceso">
                <methods>
                    <include name="runProcessSiQA"></include>
                    <include name="runProcessNoQA"></include>
                    <include name="runProcessSiPROD"></include>
                    <include name="runProcessNoPROD"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>